In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_csv("/content/Churn.csv")

In [ ]:
data

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,...,Day_Charge,Eve_Calls,Eve_Charge,Night_Calls,Night_Charge,Intl_Calls,Intl_Charge,State,Area_Code,Phone
0,128,25,265.1,197.4,244.7,10.0,1,no,no,yes,...,45.07,99,16.78,91,11.01,3,2.70,KS,415,382-4657
1,107,26,161.6,195.5,254.4,13.7,1,no,no,yes,...,27.47,103,16.62,103,11.45,3,3.70,OH,415,371-7191
2,137,0,243.4,121.2,162.6,12.2,0,no,no,no,...,41.38,110,10.30,104,7.32,5,3.29,NJ,415,358-1921
3,84,0,299.4,61.9,196.9,6.6,2,no,yes,no,...,50.90,88,5.26,89,8.86,7,1.78,OH,408,375-9999
4,75,0,166.7,148.3,186.9,10.1,3,no,yes,no,...,28.34,122,12.61,121,8.41,3,2.73,OK,415,330-6626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,36,156.2,215.5,279.1,9.9,2,no,no,yes,...,26.55,126,18.32,83,12.56,6,2.67,AZ,415,414-4276
3329,68,0,231.1,153.4,191.3,9.6,3,no,no,no,...,39.29,55,13.04,123,8.61,4,2.59,WV,415,370-3271
3330,28,0,180.8,288.8,191.9,14.1,2,no,no,no,...,30.74,58,24.55,91,8.64,6,3.81,RI,510,328-8230
3331,184,0,213.8,159.6,139.2,5.0,2,no,yes,no,...,36.35,84,13.57,137,6.26,10,1.35,CT,510,364-6381
3332,74,25,234.4,265.9,241.4,13.7,0,no,no,yes,...,39.85,82,22.60,77,10.86,4,3.70,TN,415,400-4344

In [ ]:
data.head()

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,...,Day_Charge,Eve_Calls,Eve_Charge,Night_Calls,Night_Charge,Intl_Calls,Intl_Charge,State,Area_Code,Phone
0,128,25,265.1,197.4,244.7,10.0,1,no,no,yes,...,45.07,99,16.78,91,11.01,3,2.70,KS,415,382-4657
1,107,26,161.6,195.5,254.4,13.7,1,no,no,yes,...,27.47,103,16.62,103,11.45,3,3.70,OH,415,371-7191
2,137,0,243.4,121.2,162.6,12.2,0,no,no,no,...,41.38,110,10.30,104,7.32,5,3.29,NJ,415,358-1921
3,84,0,299.4,61.9,196.9,6.6,2,no,yes,no,...,50.90,88,5.26,89,8.86,7,1.78,OH,408,375-9999
4,75,0,166.7,148.3,186.9,10.1,3,no,yes,no,...,28.34,122,12.61,121,8.41,3,2.73,OK,415,330-6626

In [ ]:
data.shape

(3333, 21)

In [ ]:
data.columns

Index(['Account_Length', 'Vmail_Message', 'Day_Mins', 'Eve_Mins', 'Night_Mins',
       'Intl_Mins', 'CustServ_Calls', 'Churn', 'Intl_Plan', 'Vmail_Plan',
       'Day_Calls', 'Day_Charge', 'Eve_Calls', 'Eve_Charge', 'Night_Calls',
       'Night_Charge', 'Intl_Calls', 'Intl_Charge', 'State', 'Area_Code',
       'Phone'],
      dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Account_Length  3333 non-null   int64
 1   Vmail_Message   3333 non-null   int64
 2   Day_Mins        3333 non-null   float64
 3   Eve_Mins        3333 non-null   float64
 4   Night_Mins      3333 non-null   float64
 5   Intl_Mins       3333 non-null   float64
 6   CustServ_Calls  3333 non-null   int64
 7   Churn           3333 non-null   object
 8   Intl_Plan       3333 non-null   object
 9   Vmail_Plan      3333 non-null   object
 10  Day_Calls       3333 non-null   int64
 11  Day_Charge      3333 non-null   float64
 12  Eve_Calls       3333 non-null   int64
 13  Eve_Charge      3333 non-null   float64
 14  Night_Calls     3333 non-null   int64
 15  Night_Charge    3333 non-null   float64
 16  Intl_Calls      3333 non-null   int64
 17  Intl_Charge     3333 non-null   float64
 18  State           3333 non-null   object
 19  Area_Code       3333 non-null   int64
 20  Phone           3333 non-null   object
dtypes: float64(8), int64(8), object(5)
memory usage: 546.9+ KB

In [ ]:
data["Intl_Plan"]

0        no
1        no
2        no
3       yes
4       yes
       ...
3328     no
3329     no
3330     no
3331    yes
3332     no
Name: Intl_Plan, Length: 3333, dtype: object

In [ ]:
data["Vmail_Plan"]

0       yes
1       yes
2        no
3        no
4        no
       ...
3328    yes
3329     no
3330     no
3331     no
3332    yes
Name: Vmail_Plan, Length: 3333, dtype: object

In [ ]:
data["State"]

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3333, dtype: object

In [ ]:
data["Phone"]

0       382-4657
1       371-7191
2       358-1921
3       375-9999
4       330-6626
          ...
3328    414-4276
3329    370-3271
3330    328-8230
3331    364-6381
3332    400-4344
Name: Phone, Length: 3333, dtype: object

In [ ]:
data

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,...,Day_Charge,Eve_Calls,Eve_Charge,Night_Calls,Night_Charge,Intl_Calls,Intl_Charge,State,Area_Code,Phone
0,128,25,265.1,197.4,244.7,10.0,1,no,no,yes,...,45.07,99,16.78,91,11.01,3,2.70,KS,415,382-4657
1,107,26,161.6,195.5,254.4,13.7,1,no,no,yes,...,27.47,103,16.62,103,11.45,3,3.70,OH,415,371-7191
2,137,0,243.4,121.2,162.6,12.2,0,no,no,no,...,41.38,110,10.30,104,7.32,5,3.29,NJ,415,358-1921
3,84,0,299.4,61.9,196.9,6.6,2,no,yes,no,...,50.90,88,5.26,89,8.86,7,1.78,OH,408,375-9999
4,75,0,166.7,148.3,186.9,10.1,3,no,yes,no,...,28.34,122,12.61,121,8.41,3,2.73,OK,415,330-6626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,36,156.2,215.5,279.1,9.9,2,no,no,yes,...,26.55,126,18.32,83,12.56,6,2.67,AZ,415,414-4276
3329,68,0,231.1,153.4,191.3,9.6,3,no,no,no,...,39.29,55,13.04,123,8.61,4,2.59,WV,415,370-3271
3330,28,0,180.8,288.8,191.9,14.1,2,no,no,no,...,30.74,58,24.55,91,8.64,6,3.81,RI,510,328-8230
3331,184,0,213.8,159.6,139.2,5.0,2,no,yes,no,...,36.35,84,13.57,137,6.26,10,1.35,CT,510,364-6381
3332,74,25,234.4,265.9,241.4,13.7,0,no,no,yes,...,39.85,82,22.60,77,10.86,4,3.70,TN,415,400-4344

In [ ]:
data.isna().sum()

Account_Length    0
Vmail_Message     0
Day_Mins          0
Eve_Mins          0
Night_Mins        0
Intl_Mins         0
CustServ_Calls    0
Churn             0
Intl_Plan         0
Vmail_Plan        0
Day_Calls         0
Day_Charge        0
Eve_Calls         0
Eve_Charge        0
Night_Calls       0
Night_Charge      0
Intl_Calls        0
Intl_Charge       0
State             0
Area_Code         0
Phone             0
dtype: int64

In [ ]:
data["Intl_Plan"] = data['Intl_Plan'].map({"no":0,"yes":1})

In [ ]:
data["Vmail_Plan"] = data['Vmail_Plan'].map({"no":0,"yes":1})

In [ ]:
data["Churn"] = data['Churn'].map({"no":0,"yes":1})

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Account_Length  3333 non-null   int64
 1   Vmail_Message   3333 non-null   int64
 2   Day_Mins        3333 non-null   float64
 3   Eve_Mins        3333 non-null   float64
 4   Night_Mins      3333 non-null   float64
 5   Intl_Mins       3333 non-null   float64
 6   CustServ_Calls  3333 non-null   int64
 7   Churn           3333 non-null   int64
 8   Intl_Plan       3333 non-null   int64
 9   Vmail_Plan      3333 non-null   int64
 10  Day_Calls       3333 non-null   int64
 11  Day_Charge      3333 non-null   float64
 12  Eve_Calls       3333 non-null   int64
 13  Eve_Charge      3333 non-null   float64
 14  Night_Calls     3333 non-null   int64
 15  Night_Charge    3333 non-null   float64
 16  Intl_Calls      3333 non-null   int64
 17  Intl_Charge     3333 non-null   float64
 18  State           3333 non-null   object
 19  Area_Code       3333 non-null   int64
 20  Phone           3333 non-null   object
dtypes: float64(8), int64(11), object(2)
memory usage: 546.9+ KB

In [ ]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Account_Length,3333.0,101.064806,39.822106,1.00,74.00,101.00,127.00,243.00
Vmail_Message,3333.0,8.099010,13.688365,0.00,0.00,0.00,20.00,51.00
Day_Mins,3333.0,179.775098,54.467389,0.00,143.70,179.40,216.40,350.80
Eve_Mins,3333.0,200.980348,50.713844,0.00,166.60,201.40,235.30,363.70
Night_Mins,3333.0,200.872037,50.573847,23.20,167.00,201.20,235.30,395.00
Intl_Mins,3333.0,10.237294,2.791840,0.00,8.50,10.30,12.10,20.00
CustServ_Calls,3333.0,1.562856,1.315491,0.00,1.00,1.00,2.00,9.00
Churn,3333.0,0.144914,0.352067,0.00,0.00,0.00,0.00,1.00
Intl_Plan,3333.0,0.096910,0.295879,0.00,0.00,0.00,0.00,1.00
Vmail_Plan,3333.0,0.276628,0.447398,0.00,0.00,0.00,1.00,1.00
Day_Calls,3333.0,100.435644,20.069084,0.00,87.00,101.00,114.00,165.00
Day_Charge,3333.0,30.562307,9.259435,0.00,24.43,30.50,36.79,59.64
Eve_Calls,3333.0,100.114311,19.922625,0.00,87.00,100.00,114.00,170.00
Eve_Charge,3333.0,17.083540,4.310668,0.00,14.16,17.12,20.00,30.91
Night_Calls,3333.0,100.107711,19.568609,33.00,87.00,100.00,113.00,175.00
Night_Charge,3333.0,9.039325,2.275873,1.04,7.52,9.05,10.59,17.77
Intl_Calls,3333.0,4.479448,2.461214,0.00,3.00,4.00,6.00,20.00
Intl_Charge,3333.0,2.764581,0.753773,0.00,2.30,2.78,3.27,5.40
Area_Code,3333.0,437.182418,42.371290,408.00,408.00,415.00,510.00,510.00

In [ ]:
data2=data.drop(['Phone','State'],axis=1)

In [ ]:
x=data2.drop('Churn',axis=1)
y=data2["Churn"]

In [ ]:
X=pd.get_dummies(x)

In [ ]:
X.shape

(3333, 18)

In [ ]:
X

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Intl_Plan,Vmail_Plan,Day_Calls,Day_Charge,Eve_Calls,Eve_Charge,Night_Calls,Night_Charge,Intl_Calls,Intl_Charge,Area_Code
0,128,25,265.1,197.4,244.7,10.0,1,0,1,110,45.07,99,16.78,91,11.01,3,2.70,415
1,107,26,161.6,195.5,254.4,13.7,1,0,1,123,27.47,103,16.62,103,11.45,3,3.70,415
2,137,0,243.4,121.2,162.6,12.2,0,0,0,114,41.38,110,10.30,104,7.32,5,3.29,415
3,84,0,299.4,61.9,196.9,6.6,2,1,0,71,50.90,88,5.26,89,8.86,7,1.78,408
4,75,0,166.7,148.3,186.9,10.1,3,1,0,113,28.34,122,12.61,121,8.41,3,2.73,415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,36,156.2,215.5,279.1,9.9,2,0,1,77,26.55,126,18.32,83,12.56,6,2.67,415
3329,68,0,231.1,153.4,191.3,9.6,3,0,0,57,39.29,55,13.04,123,8.61,4,2.59,415
3330,28,0,180.8,288.8,191.9,14.1,2,0,0,109,30.74,58,24.55,91,8.64,6,3.81,510
3331,184,0,213.8,159.6,139.2,5.0,2,1,0,105,36.35,84,13.57,137,6.26,10,1.35,510
3332,74,25,234.4,265.9,241.4,13.7,0,0,1,113,39.85,82,22.60,77,10.86,4,3.70,415

In [ ]:
data2

,Account_Length,Vmail_Message,Day_Mins,Eve_Mins,Night_Mins,Intl_Mins,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,Day_Calls,Day_Charge,Eve_Calls,Eve_Charge,Night_Calls,Night_Charge,Intl_Calls,Intl_Charge,Area_Code
0,128,25,265.1,197.4,244.7,10.0,1,0,0,1,110,45.07,99,16.78,91,11.01,3,2.70,415
1,107,26,161.6,195.5,254.4,13.7,1,0,0,1,123,27.47,103,16.62,103,11.45,3,3.70,415
2,137,0,243.4,121.2,162.6,12.2,0,0,0,0,114,41.38,110,10.30,104,7.32,5,3.29,415
3,84,0,299.4,61.9,196.9,6.6,2,0,1,0,71,50.90,88,5.26,89,8.86,7,1.78,408
4,75,0,166.7,148.3,186.9,10.1,3,0,1,0,113,28.34,122,12.61,121,8.41,3,2.73,415
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,192,36,156.2,215.5,279.1,9.9,2,0,0,1,77,26.55,126,18.32,83,12.56,6,2.67,415
3329,68,0,231.1,153.4,191.3,9.6,3,0,0,0,57,39.29,55,13.04,123,8.61,4,2.59,415
3330,28,0,180.8,288.8,191.9,14.1,2,0,0,0,109,30.74,58,24.55,91,8.64,6,3.81,510
3331,184,0,213.8,159.6,139.2,5.0,2,0,1,0,105,36.35,84,13.57,137,6.26,10,1.35,510
3332,74,25,234.4,265.9,241.4,13.7,0,0,0,1,113,39.85,82,22.60,77,10.86,4,3.70,415

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X,y,
                                                   test_size=0.2,random_state=134,stratify=y)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train.loc[:,:] = sc.fit_transform(x_train)
x_test.loc[:,:] = sc.fit_transform(x_test)

In [ ]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test, y_pred)

0.1834236939645434

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(x_train, y_train)
y_pred = dt.predict(x_test)

In [ ]:
r2_score(y_test, y_pred)

0.3244347983360464

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)

In [ ]:
r2_score(y_test, y_pred)

0.6324406565382529

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
rf = RandomForestRegressor()
lr = LinearRegression()
dt = DecisionTreeRegressor()
cv_results = cross_val_score(rf, x_train, y_train, cv= 5, scoring="r2")

In [ ]:
cv_results

array([0.59834346, 0.74436752, 0.57018347, 0.60609623, 0.61929546])

In [ ]:
cv_results.mean()

0.6276572291286567

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
rf = RandomForestRegressor()

In [ ]:
rf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [ ]:
params_rf = {'n_estimators': [ 200, 300,400],
             'max_depth': [8, 16, 32],
             'max_features': ['log2', 'sqrt']}

In [ ]:
grid_rf = GridSearchCV(estimator=rf,
            param_grid=params_rf,
            cv = 5,
            scoring="r2")

In [ ]:
grid_rf.fit(x_train , y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid={'max_depth': [8, 16, 32],
                         'max_features': ['log2', 'sqrt'],
                         'n_estimators': [200, 300, 400]},
             scoring='r2')

In [ ]:
grid_rf.best_params_

{'max_depth': 16, 'max_features': 'sqrt', 'n_estimators': 300}

In [ ]:
grid_rf.best_score_

0.6118407410257973

In [ ]:
best_model = grid_rf.best_estimator_

In [ ]:
y_pred = best_model.predict(x_test)

In [ ]:
r2_score(y_test, y_pred)

0.661534355355828

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
gt = GradientBoostingRegressor()
cv_results = cross_val_score(gt, x_train, y_train, cv= 5, scoring="r2")

In [ ]:
cv_results.mean()

0.5746260410259352

In [ ]:
gt = GradientBoostingRegressor()

In [ ]:
gt.get_params()

{'alpha': 0.9,
 'ccp_alpha': 0.0,
 'criterion': 'friedman_mse',
 'init': None,
 'learning_rate': 0.1,
 'loss': 'squared_error',
 'max_depth': 3,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_iter_no_change': None,
 'random_state': None,
 'subsample': 1.0,
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': 0,
 'warm_start': False}

In [ ]:
params_gb = {'n_estimators': [ 200, 300,400],
             'max_depth': [8, 16, 32],
             'max_features': ['log2', 'sqrt']}

In [ ]:
grid_gt = GridSearchCV(estimator=gt,
            param_grid=params_gb,
            cv = 5,
            scoring="r2")

In [ ]:
grid_gt.fit(x_train, y_train)
y_pred = grid_gt.predict(x_test)

In [ ]:
r2_score(y_test, y_pred)

0.663207865543246